<div class="about-section">
  <h1>About Us Page</h1>
  <p>This project is aimed at developing an Online Employee Maintenance System. This is an Intranet based application
    that can be accessed throughout the organization and this is a web-based application that can be accessed over the
    web. This system can be used to search for Employees based on search conditions, add individual employees, modify an
    existing employee details and display all employee details across locations within an organization. Employees can
    apply for leave and the leave record will be updated and can be approved/rejected by the manager. This is an
    integrated system that contains both the user Employee component and the Admin component.</p>

  <hr>
</div><i class="fab fa-github"></i>
<h2 style="text-align:center">Our Team</h2>
<div class="container">
  <div class="card promoting-card">
    <div class="card-body d-flex flex-row">
      <img src="https://i.imgur.com/Q0grAH1.png" class="rounded-circle mr-4" height="100px" width="100px" alt="avatar">
      <div>
        <h4 class="card-title font-weight-bold mb-2">Gagandeep Singh</h4>
        <p class="card-text"><i class="far fa-clock pr-2"></i>I'm an Engineering student, who loves to learn different
          programming languages.</p>
          <a href="https://github.com/gagandeep39">github.com/gagandeep39</a> |
          <a href="mailto:singh.gagandeep3911@gmail.com">singh.gagandeep3911@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="card promoting-card">
    <div class="card-body d-flex flex-row">
      <img src="https://i.imgur.com/ywgso1N.jpg" class="rounded-circle mr-4" height="100px" width="100px" alt="avatar">
      <div>
        <h4 class="card-title font-weight-bold mb-2">Pranav Karmarkar</h4>
        <p class="card-text"><i class="far fa-clock pr-2"></i>I like to play musical instruments</p>
        <a href="https://github.com/pranavk22">github.com/pranavk22</a> |
        <a href="mailto:singh.gagandeep3911@gmail.com">pranav.karmarkar4@gmail.com</a>
      </div>
    </div>
  </div>

  <!-- <input type="button" value="Back" class="btn btn-primary" (click)="onBackPress()" style="margin-left: 10px;"> -->
  <hr>
</div>
<app-footer></app-footer>