<div class="container-fluid">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <legend>
      <h2 class="display-4"><b>Change password</b></h2>
    </legend>
    <hr>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input 
        formControlName="oldPassword" 
        id="oldPassword" 
        class="form-control"
        [ngClass]="{'is-invalid': submitted && changePasswordForm.get('oldPassword').invalid}" 
        type="password"
        name="oldPassword" 
        placeholder="Enter Old Password">
      <div class="invalid-feedback" *ngIf="submitted && changePasswordForm.get('oldPassword').invalid">
        <div *ngIf="changePasswordForm.get('oldPassword').errors['required']">* Required</div>
        <div *ngIf="changePasswordForm.get('oldPassword').errors['incorrectPassword']">Your old Password is incorrect</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input 
        formControlName="password" 
        id="password"
        class="form-control"
        [ngClass]="{'is-invalid': submitted && changePasswordForm.get('password').invalid}" 
        type="password"
        name="password" 
        placeholder="Enter New Password">
      <div class="invalid-feedback" *ngIf="submitted && changePasswordForm.get('password').invalid">
        <div *ngIf="changePasswordForm.get('password').errors['required']">* Required</div>
        <div *ngIf="changePasswordForm.get('password').errors['pattern']">Password must contain atleast 1 uppercase,
          lowercase and number</div>
        <div *ngIf="changePasswordForm.get('password').errors['minLength']">Username must have minimum 6 characters
        </div>
      </div>
    </div>
    <!-- confirm password  -->
    <div class="form-group">
      <label for="cpassword">Confirm New Password</label>
      <input 
        formControlName="confirmPassword"
        id="cpassword" 
        class="form-control"
        [ngClass]="{'is-invalid': submitted && changePasswordForm.get('confirmPassword').invalid}" 
        type="password"
        name="cpassword" 
        placeholder="Re-enter New Password">
      <div class="invalid-feedback" *ngIf="submitted && changePasswordForm.get('confirmPassword').invalid">
        <div *ngIf="changePasswordForm.get('confirmPassword').errors['required']">* Required</div>
        <div *ngIf="changePasswordForm.get('confirmPassword').errors['pattern']">Password must contain atleast 1
          uppercase, lowercase and number</div>
          <div *ngIf="changePasswordForm.get('confirmPassword').errors['passwordMatchError']">Passwords are not same</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" class="btn btn-primary" *ngIf="!isLoading" value="Update">
        <div class="spinner-border text-primary" style="margin-left: 20px; padding-top: 20px;" *ngIf="isLoading"></div>
      </div>
      <div class="col text-danger">
        {{ errorMessage }}
      </div>
      
      <div class="col text-success">
        {{ referenceMessage }}
      </div>
      <!-- {{ changePasswordForm.value | json }} -->
    </div>
  </form>
</div>