server:
  port: 9400
spring:
  profiles:
    active: dev
  application:
    name: employee-validation-service
eureka:
  instance:
    hostname: localhost
    port: 7000
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${eureka.instance.port}/eureka
service:
  url:
    login: employee-validation-service
